
body
    {font-family: Arial, sans-serif;
    background-color: honeydew;
}

h1
    {font-weight: bold;
    color: rgb(29, 82, 29);
    text-align: center;
    font-size: 35px;
}

  footer
	{background-color: rgb(240,248,255);
	padding: 10px;
	text-align: center;
	color: rgb(75,0,130);
	font-weight: bold;
	display: block;
  }